@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --menu-height:10rem;
    --submenu-height:3rem;
}

.section-height {
    height: calc(100vh - var(--menu-height));
}

.menu-height {
    height: var(--menu-height);
}

.submenu-height {
    height: var(--submenu-height);
}

.image-max-height {
    max-height: calc(90vh - var(--menu-height) - var(--submenu-height));
}

.top-menu {
    top:var(--menu-height);
}

.subtop-menu {
    top:calc(var(--menu-height) + var(--submenu-height));
}