@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --menu-height:4rem;
}

.section-height {
    height: calc(100vh - var(--menu-height));
}

.menu-height {
    height: var(--menu-height);
}

.image-max-height {
    max-height: calc(80vh - var(--menu-height));
}

.top-menu {
    top:var(--menu-height);
}

/*
 top #080811
 mid #121523

 */